.container
  .row.vertical-offset-100
    .col-md-4.col-md-offset-4
      .panel.panel-default
        .panel-heading
          .row-fluid.user-row
            %img.img-responsive{:alt => "Gnome", :src => "..."}/
        .panel-body
          %form.form-signin{"accept-charset" => "UTF-8", :role => "form"}
            %fieldset
              %label.panel-login
                .login_result
              %input#username.form-control{:placeholder => "Username", :type => "text"}/
              %input#password.form-control{:placeholder => "Password", :type => "password"}/
              %br/
              = link_to "Create Account", new_user_path
              %br/
              %input#login.btn.btn-lg.btn-success.btn-block{:type => "submit", :value => "Login"}/
