.row.small-up-2.med-up-3.large-up-4.gnome-box
  .column#gnome-image
    %img.thumbnail{:src => "../images/gnome.png"}/
    .caption
      %h5.gnome-data= @gnome.name
  .gnome-details
    %p= @gnome.desc
    %h5#price.gnome-data $#{@gnome.price}
    - if @gnome.retired?
      %p Item retired
    - else
      = button_to 'Add to bucket', bucket_gnomes_path(:gnome_id => @gnome.id), class: 'button radius info'
