.container#error
  %h5.user-greeting You've stumbled into a restricted area, go back now!
  .row.gnomes-error
    .horror-gnomes
      %img{src: 'http://cdn.thisiswhyimbroke.com/images/horror-movie-garden-gnomes.jpg'}
