%h5.greeting Welcome, #{current_user.username}

- if @top_three_orders
  %h4.greeting Your recent orders
  - @top_three_orders.each do |order|
    = render partial: 'orders/shared/order_layout', locals: { target: order }
