<footer>
  <div class="wrap row small-up-1 medium-up-3">
    <div class="column">
      <h4>Contact Info</h4>
      <hr>
      <a><strong>Address</strong> 1530 Blake St </a>
      <a><strong>Contact Number</strong> 303-895-0492</a>
      <a><strong>Email</strong> info@game_of_gnomes.com</a>
    </div>
    <div class="column">
      <h4>Copyright</h4>
      <hr>
      <a> Copyright &copy; 2016 <strong>SpaceJams</strong></br>
          All Rights Reserved
      </a>
    </div>
    <div class="column">
      <h4>In Case of Emergency</h4>
      <hr>
      <a>Police</a>
      <a>Goblins</a>
      <a>Jimmy Johns</a>
    </div>
  </div>
</footer>
