.row.columns.text-center
  %h2.banner{:style => "font-family: fantasy; margin: auto; margin-top: 10px;"}= target_name
  %hr/
  .wrap
    .row.small-up-2.med-up-3.large-up-4
      - target.each do |gnome|
        .column
          %img.thumbnail{:src => "https://pixabay.com/static/uploads/photo/2014/12/21/23/58/gnome-576496_960_720.png"}/
          %h5.gnome-data
            = gnome.name
          %h5.gnome-data $#{gnome.price}
          %a.small.expanded.button.hollow{:href => gnome_path(gnome)} More
