- current_user.orders.each do |order|
  %h4.order-info= "Order ##{order.id}"
  %h5.order-info= link_to "View Order", order_path(order)
  = render partial: 'orders/shared/order_layout', locals: { target: order }
