/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body{
       /*background-image: url('http://www.publicdomainpictures.net/pictures/100000/velka/garden-gnome-1404749587o2K.jpg');*/
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       background-repeat: no-repeat !important;
       background-position: top center !important;
}

.navbar{
  opacity: 0.9;
  background-color: white;
}

.gnome-image{
  height: 100px;
  width: 100px;
}

.thumbnail{
  /*width: 350px;
*/
  height: 250px;
}
.gnome_bucket{
  background-color: white;
}
.gnome-data{
  font-family: fantasy;
  text-align: center;
}
.buttons{
  text-align: center;
}

.panel {
 margin-bottom: 20px;
 background-color: rgba(255, 255, 255, 0.75);
 border: 1px solid transparent;
 border-radius: 4px;
 -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
 box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
 }

.vertical-offset-100 {
 padding-top: 100px;
}

.login {
  margin: 0 auto;
  width: 350px;
}

.panel-login {
  text-align: center;
}
.login-buttons {
  margin: 0 auto;
  width: 100px;
  text-align: center
}

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.img-responsive{
  height: 180px;
  width: 180px;
  margin: auto;
}

#mushroom {
  margin-left: 75px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.hero{
  background-color: #999;
  padding: 80px 0px;
  height: 480px;
  background-image: url(green.png);
  /*background-image: url(green.png);*/
}

.wrap{
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}

footer{
  height: 300px;
  background-color: #222;
  padding: 80px 0px;
}

footer a{
  display: block;
}

footer h4{
  color: white;
}
