%h5.greeting Admin Dashboard
.add-item-link
  = link_to "Add item", new_admin_gnome_path, class: 'add-item-link button success hollow'
- @gnomes.each do |gnome|
  = link_to gnome.name, edit_admin_gnome_path(gnome)
  %br
= render partial: 'shared/dashboard'
